.container {
  max-width: 468px;
  margin: 25vh auto;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 25vh 5vw;
  }
}

@media only screen and (max-width: 1920px) {
  .container {
    margin: 15vh auto;
  }
}


.logo {
  max-height: 96px;
  max-width: 368px;
  margin: 0 auto 1rem auto;
  display: block;
}

.paper {
  padding: 2.5rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.loginButton {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 45px;
    align-items: center;
    color: white;
}

.signInTitle {
  text-align: center;
    display: block;
    color: var(--bs-gray);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}